.sign-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 100px;
}

.sign-up .contact-bottom {
  width: 1235px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.sign-up .contact-bottom .male-female {
  border: 1px solid #616060;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  height: 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 5px;
}

.sign-up .contact-bottom .male-female h1 {
  font-size: 20px;
}

.sign-up .contact-bottom .male-female .checkbox {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sign-up .contact-bottom .male-female .checkbox .input-p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -15px;
}

.sign-up .contact-bottom .male-female .checkbox .input-p .check-input {
  width: 20px;
  height: 20px;
}

.sign-up .contact-bottom .conf {
  width: 300px;
  text-align: center;
  color: #c4c4c4;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.sign-up .contact-bottom .conf:hover {
  color: #616060;
}

.sign-up .contact-bottom .conf:hover a {
  color: #00a3ff;
}

.sign-up .contact-bottom .conf a {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #c4c4c4;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.sign-up h1:nth-child(1) {
  font-size: 50px;
}

.sign-up h2 {
  font-weight: 100;
}

.sign-up input {
  border: 1px solid #616060;
  width: 400px;
  height: 80px;
  font-size: 20px;
  margin: 5px;
  border-radius: 5px;
}

.sign-up a button {
  width: 300px;
  margin-top: 50px;
}

@media (max-width: 1366px) {
  .sign-up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 100px;
  }
  .sign-up .contact-bottom {
    width: 940px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
  }
  .sign-up .contact-bottom .male-female {
    margin: 5px;
    border: 1px solid #616060;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 300px;
    height: 80px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .sign-up .contact-bottom .male-female h1 {
    font-size: 15px;
  }
  .sign-up .contact-bottom .male-female .checkbox {
    width: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sign-up .contact-bottom .male-female .checkbox .input-p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sign-up .contact-bottom .male-female .checkbox .input-p .check-input {
    width: 20px;
    height: 20px;
  }
  .sign-up .contact-bottom .conf {
    width: 300px;
    text-align: center;
    color: #c4c4c4;
    cursor: pointer;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .sign-up .contact-bottom .conf:hover {
    color: #616060;
  }
  .sign-up .contact-bottom .conf:hover a {
    color: #00a3ff;
  }
  .sign-up .contact-bottom .conf a {
    -webkit-transition: 0.2s;
    transition: 0.2s;
    color: #c4c4c4;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
  }
  .sign-up h1:nth-child(1) {
    font-size: 50px;
  }
  .sign-up h2 {
    font-weight: 100;
  }
  .sign-up input {
    border: 1px solid #616060;
    width: 300px;
    height: 80px;
    font-size: 20px;
    margin: 5px;
  }
  .sign-up a button {
    width: 300px;
    margin-top: 50px;
  }
}

@media (max-width: 768px) {
  .section-sign-up {
    width: 750px;
  }
  .section-sign-up .sign-up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: -100px;
    margin-bottom: 100px;
  }
  .section-sign-up .sign-up .contact-bottom {
    width: 750px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
  }
  .section-sign-up .sign-up .contact-bottom .male-female {
    margin: 5px;
    border: 1px solid #616060;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 300px;
    height: 80px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .section-sign-up .sign-up .contact-bottom .male-female h1 {
    font-size: 15px;
  }
  .section-sign-up .sign-up .contact-bottom .male-female .checkbox {
    width: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-sign-up .sign-up .contact-bottom .male-female .checkbox .input-p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-sign-up .sign-up .contact-bottom .male-female .checkbox .input-p .check-input {
    width: 20px;
    height: 20px;
  }
  .section-sign-up .sign-up .contact-bottom .conf {
    width: 300px;
    text-align: center;
    color: #c4c4c4;
    cursor: pointer;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .section-sign-up .sign-up .contact-bottom .conf:hover {
    color: #616060;
  }
  .section-sign-up .sign-up .contact-bottom .conf:hover a {
    color: #00a3ff;
  }
  .section-sign-up .sign-up .contact-bottom .conf a {
    -webkit-transition: 0.2s;
    transition: 0.2s;
    color: #c4c4c4;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
  }
  .section-sign-up .sign-up h1:nth-child(1) {
    font-size: 50px;
  }
  .section-sign-up .sign-up h2 {
    font-weight: 100;
  }
  .section-sign-up .sign-up input {
    border: 1px solid #616060;
    width: 300px;
    height: 80px;
    font-size: 20px;
    margin: 5px;
  }
  .section-sign-up .sign-up a button {
    width: 300px;
    margin-top: 50px;
  }
}

@media (max-width: 360px) {
  .section-sign-up {
    text-align: center !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 300px;
  }
  .section-sign-up .sign-up {
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: start !important;
    text-align: center !important;
    margin-left: 0;
    margin-bottom: 100px;
  }
  .section-sign-up .sign-up .h1 {
    font-size: 25px !important;
    text-align: flex-end !important;
  }
  .section-sign-up .sign-up h2 {
    font-weight: 100;
    font-size: 15px;
    text-align: center;
  }
  .section-sign-up .sign-up input {
    border: none;
    border-bottom: 1px solid #616060;
    width: 250px;
    height: 50px;
    font-size: 20px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .section-sign-up .sign-up .contact-bottom {
    width: 300px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: none;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .section-sign-up .sign-up .contact-bottom .male-female {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    border: none;
  }
  .section-sign-up .sign-up .contact-bottom .male-female h1 {
    font-size: 15px;
  }
  .section-sign-up .sign-up .contact-bottom .male-female .checkbox {
    width: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: center;
    border: none;
  }
  .section-sign-up .sign-up .contact-bottom .male-female .checkbox .input-p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section-sign-up .sign-up .contact-bottom .male-female .checkbox .input-p p {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .section-sign-up .sign-up .contact-bottom .male-female .checkbox .input-p .check-input {
    width: 20px;
    height: 20px;
  }
  .section-sign-up .sign-up .contact-bottom .btn:nth-child(2) {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 10px 10px;
    border: none;
    background: #00a3ff;
    opacity: 65%;
    color: white;
    font-size: 15px;
    font-weight: 700;
    border-radius: 5px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
}
/*# sourceMappingURL=fives.css.map */