.section3 {
    display: flex;
    justify-content: center;
    align-items: center;
    #carouselExampleControls{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
h1:nth-child(5){
    text-align: center;
    font-size: 50px;
    margin-bottom: 100px;
}

.section-1 {
    background: rgba($color: #63cbfe, $alpha: 0.5);
    z-index: -1;
    .apparatus{
        
        padding: 50px 20px;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
    
        img{
            width: 80%;
            height: 50%;
            align-self: center;
        }
        .small-pictures{
            margin-top: 30px;
            width: 80%;
            display: flex;
            justify-content: space-between;
            align-self: center;
            img{
                width: 270px;
            }
        }
    }
    margin-bottom: 100px;
}

//ToDo Media

@media (max-width: 1366px) {
    .section-1 {
        background: rgba($color: #63cbfe, $alpha: 0.5);
        z-index: -1;
        .apparatus{
            padding: 50px 20px;
            display: flex;
            align-content: center;
            flex-direction: column;
            justify-content: start;
            text-align: center;
            img{
                width: 80%;
                height: 50%;
                align-self: center;
            }
            .small-pictures{
                margin-top: 30px;
                width: 100%;
                margin-left: 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                img{
                    width: 200px;
                }
            }
        }
    }
}
//! Media for Desktop

@media (max-width: 1024px) {
    .section3 {
        img{
            width: 300px;
        }
    }
}
//! Media for Laptop/ tablet

@media (max-width: 768px) {

    .header {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        &-bottom {
            display: flex;
            align-items: center;
            position: relative;
            overflow: hidden;
            .rectangle,
            .doctor {
                display: none;
            }
        }
        &-top {
            width: 500px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            color: #616060;
            text-align: center;
            h1 {
                font-size: 50px;
            }
            h4 {
                font-size: 30px;
                font-weight: 100;
            }
            
        }
    }
    //!header
    h1:nth-child(5){
        display: inline-block;
        // margin-top: -200px;
    }
    .section-1 {
        margin-top: -100px;
        background: rgba($color: #63cbfe, $alpha: 0.5);
        z-index: -1;
        width: 750px;
        .apparatus{
            padding: 50px 10px;
            display: flex;
            align-content: center;
            flex-direction: column;
            justify-content: start;
            text-align: center;
            img{
                width: 80%;
                height: 50%;
                align-self: center;
            }
            .small-pictures{
                margin-top: 30px;
                width: 100%;
                margin-left: 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                img{
                    width: 150px;
                }
            }
        }
    }
}
//! Media for Tablet
@media (max-width: 360px) {
    body{
        width: 100%;
    }
    .container{
        width: 360px;
    }
    .header {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        &-bottom {
            display: flex;
            align-items: center;
            position: relative;
            overflow: hidden;
            .rectangle,
            .doctor {
                display: none;
            }
        }
        &-top {
            width: 500px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            color: #616060;
            text-align: center;
            h1 {
                font-size: 30px;
                font-weight: 600;
            }
            h4 {
                font-size: 20px;
                font-weight: 100;
            }
            
        }
    }
    .section3 {
        img{
            width: 150px;
        }
    }
    h1:nth-child(5){
        text-align: center;
        font-size: 30px;
        margin-bottom: 30px;
        margin-top: -150px;
    }
    .section-1 {
        background: rgba($color: #63cbfe, $alpha: 0.5);
        z-index: -1;
        width: 100%;
        .apparatus{
            width: 300px;
            display: flex;
            align-content: center;
            flex-direction: column;
            justify-content: start;
            text-align: center;
            img{
                width: 80%;
                height: 50%;
                align-self: center;
            }
            .small-pictures{
                margin-top: 30px;
                width: 100%;
                margin-left: 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                img{
                    width: 50px;
                }
            }
        }
    }
}

//! Media for phone