.section2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #616060;
    flex-wrap: wrap;
}

.service {
    .header {
        display: flex;
        justify-content: space-around;
        align-content: center;
        .header-for-service-top{
            .title {
                font-size: 40px;
                margin-left: -100px;
            }

            .dropping-texts {
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                a {
                    text-decoration: none ;
                    color: #616060;
                    div {
                        margin-left: -100px;
                        display: flex;
                        align-items: center;
                        text-align: center;
                        justify-content: space-between;
                        width: 250px;
                        .img_head{
                            width: 40px;
                        }
                        #circle {
                            width: 100px;
                            height: 100px;
                            border-radius: 200px;
                            border: 2px solid #63cbfe;
                            background: #63cbfe;
                            position: absolute;
                            left: -250px;
                            top: 100px;
                        }
                    }
                }
            }
        }

        &-bottom {
            position: relative;
            .child-doctor {
                position: absolute;
                top: -4%;
                left: -20%;
                width: 700px;
                z-index: 5;
            }
        }
    }
}


.main {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 100px;
    display: flex;

}
.block_cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card{
    margin: 10px 0px;
}


.cards_item {
    display: flex;
    padding: 1rem;
}


.card_image {
    position: relative;
    max-height: 250px;
}

.card_image img {
    object-fit: cover;
}
.illustrator1 {
    margin-top: 40px;
    margin-left: 10px;
    width: 330px;
}
.illustrator2 {
    margin-top: 40px;
    margin-left: 7px;
    width: 330px;
}
.illustrator3 {
    margin-top: 40px;
    margin-left: 70px;
    width: 220px;
}
.illustrator4 {
    margin-top: 40px;
    margin-left: 70px;
    width: 220px;
}
.illustrator5 {
    margin-top: 40px;
    margin-left: 70px;
    width: 220px;
}
.illustrator6 {
    margin-top: 40px;
    margin-left: 20px;
    width: 320px;
}
.illustrator7 {
    margin-top: 40px;
    margin-left: 20px;
    width: 320px;
}
.illustrator8 {
    margin-left: 20px;
    width: 320px;
}

.card_price {
    position: absolute;
    bottom: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 0.25rem;
    background-color: #63cbfe;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.card_price span {
    font-size: 12px;
    margin-top: -2px;
}

.note {
    position: absolute;
    top: 8px;
    left: 8px;
    padding: 4px 8px;
    border-radius: 0.25rem;
    background-color: #63cbfe;
    font-size: 14px;
    font-weight: 700;
}

.card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    width: 350px;

}

.card_content {
    position: relative;
    padding: 16px 12px 32px 24px;
    margin: 16px 8px 8px 0;
    max-height: 290px;
    overflow-y: scroll;
}

.card_content::-webkit-scrollbar {
    width: 8px;
}

.card_content::-webkit-scrollbar-track {
    box-shadow: 0;
    border-radius: 0;
}

.card_content::-webkit-scrollbar-thumb {
    background: #63cbfe;
    border-radius: 15px;
}

.card_title {
    position: relative;
    margin: 0 0 24px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.card_title::after {
    position: absolute;
    display: block;
    width: 50px;
    height: 2px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #63cbfe;
    color: white;
    content: "";
}

hr {
    margin: 24px auto;
    width: 50px;
    border-top: 2px solid #63cbfe;
}

.card_text p {
    margin: 0 0 24px;
    font-size: 14px;
    line-height: 1.5;
}

.card_text p:last-child {
    margin: 0;
}

a {
    text-decoration: none;
    .show {
        display: none;
    }
}



@media (max-width: 1024px) {
    .service {
        .header {
            display: flex;
            justify-content: space-around;
            align-content: center;
            &-top {
                .title {
                    font-size: 30px;
                    margin-left: -100px;
                }

                .dropping-texts {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    a {
                        div {
                            margin-left: -100px;
                            display: flex;
                            align-items: center;
                            text-align: center;
                            justify-content: space-between;
                            width: 250px;
                            img {
                                width: 50px;
                            }
                            #circle {
                                width: 100px;
                                height: 100px;
                                border-radius: 200px;
                                border: 2px solid #63cbfe;
                                background: #63cbfe;
                                position: absolute;
                                left: -250px;
                                top: 100px;
                            }
                        }
                    }
                }
            }

            &-bottom {
                position: relative;
                .child-doctor {
                    position: absolute;
                    top: 11%;
                    left: -10%;
                    width: 500px;
                    z-index: 5;
                }
            }
        }
    }
    .cards {
        display: flex;
        flex-direction: column;
        .cards_item:nth-child(4),
        .cards_item:nth-child(5),
        .cards_item:nth-child(6),
        .cards_item:nth-child(7),
        .cards_item:nth-child(8) {
            display: none;
        }
        .illustrator1 {
            margin-top: 40px;
            margin-left: 10px;
            width: 350px;
        }
        .illustrator2 {
            margin-top: 40px;
            width: 350px;
        }
        .illustrator3 {
            margin-left: 20px;
            width: 230px;
        }
        a {
            text-decoration: none;
            .show {
                display: block;
            }
        }
    }
}

@media (max-width: 768px) {
    .section-service {
        .header-for-service {
            display: flex;
            justify-content: center;
            &-top {
                display: flex;
                justify-content: center;
                flex-direction: column;
                .title {
                    color: #616060;
                }
                .dropping-texts {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    a {
                        text-decoration: none;
                        div {
                            color: #616060;
                            background: #63cbfe;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            width: 200px;
                            height: 130px;
                            margin: 10px;
                            color: white;
                            font-size: 20px;
                            font-weight: 600;
                            border-radius: 10px;
                            transition: 0.5s;
                            img {
                                width: 60px;
                            }
                            &:hover {
                                transform: scale(1.1);
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 360px) {
    .section2 {
        margin-top: 50px;
        h1 {
            font-size: 25px;
        }
    }
    
    .card{
        margin: 10px 0px;
    }
    .block_cards {
        display: flex;
        flex-direction: column;
        .card:nth-child(1),
        .card:nth-child(2),
        .card:nth-child(3) {
            width: 300px;
            height: 350px;
            margin: 10px 0;
            display: flex;
            align-items: center;
        }
        .card:nth-child(4),
        .card:nth-child(5),
        .card:nth-child(6),
        .card:nth-child(7),
        .card:nth-child(8) {
            display: none;
        }
        .illustrator1 {
            margin-top: 10px;
            margin-left: 10px;
            width: 150px;
        }
        .illustrator2 {
            margin-top: 10px;
            width: 150px;
        }
        .illustrator3 {
            margin-top: 10px;
            margin-left: 20px;
            width: 100px;
        }
        a {
            text-decoration: none;
            .show {
                display: block;
            }
        }
    }
    .section-service {
        .header-for-service {
            display: flex;
            justify-content: center;
            .header-for-service-top {
                display: flex;
                justify-content: center;
                flex-direction: column;
                .title {
                    color: #616060;
                }
                .dropping-texts {
                    display: flex;
                    flex-direction: column;
                    a {
                        text-decoration: none;
                        div {
                            color: #616060;
                            background: #63cbfe;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            width: 200px;
                            height: 120px;
                            margin: 10px;
                            color: white;
                            font-size: 20px;
                            font-weight: 600;
                            border-radius: 10px;
                            transition: 0.5s;
                            .img_head {
                                width: 60px;
                            }
                            &:hover {
                                transform: scale(1.1);
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 56rem) {
    .cards_item {
        width: 80%;
    }
}